
:root {
    --bg-color: #1e1f21;
    --secondary-color: #17181a;
    --highlight-color: #60aed8;

    --text-color-important: #dfe7e8;
    --text-color-semi-important: #c3cdce;
    --text-color-unimportant: #969c9d;

    --rounding: 12px;
    --rounding-small: 5px;

    --font-size-big: 32px;
    --font-size-medium: 24px;
    --font-size-small: 12px;

    font-family: monospace;
    font-size: var(--font-size-medium);

    color: var(--text-color-unimportant);

    border-radius: var(--rounding);

    padding: 0px;
    margin: 0px;
}


body {
    background-color: var(--bg-color);
    overscroll-behavior: none;
}

hr {
    border: 1px solid var(--secondary-color);
}

img {
    display: block;
    margin: 20px auto;

    max-width: 100%;

    border-radius: var(--rounding);
}


iframe {
    display: block;
    margin: 20px auto;

    max-width: 100%;

    border-radius: var(--rounding);
}


ul {
    text-align: center;
    display: block;
}


ul.list > li {
    text-align: left;
    display: block;
}


footer > p {
    position: fixed;
    bottom: 0px;

    font-size: var(--font-size-small);
}

a {
    color: var(--highlight-color);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--highlight-color);
}


.important {
    color: var(--text-color-important);
}

.image-desc {
    color: var(--text-color-unimportant);
    size: var(--font-size-small);
}


/* Navbar */

#navbar {
    user-select: none;

    position: fixed;
    padding: 5px;

    background-color: var(--bg-color);

    top: 0px;
    left: 0px;
    right: 0px;
    
}


.socials {
    user-select: none;

    text-align: right;

    position: fixed;
    margin: 18px 2.5%;

    top: 0px;
    left: 75%;
    right: 0px;
}

.socials > a {
    color: var(--text-color-semi-important);
}

.socials > a:hover {
    color: var(--text-color-important);
    border-bottom: 5px solid var(--highlight-color);
}


#navbar {
    color: var(--text-color-important);

    font-size: var(--font-size-big);
}

#navbar > hr {
    margin-bottom: 0px;
    padding: 0px;
}


.main-title {
    font-family: Arial, Helvetica, sans-serif;
}

/* Skipper */

#skipper {
    position: fixed;
    top: 150px;
    right: 1%;

    padding: 0px 25px 15px 25px;

    min-width: 9%;
    max-width: 20%;
    width: auto;

    border-radius: var(--rounding-small);

    background-color: var(--secondary-color);
}

/* Title button */

#title-tab {
    font-size: var(--font-size-big);
    color: var(--text-color-important);
}


/* Buttons */

@keyframes button-select {
	0% {
		border-bottom: 0px solid var(--highlight-color);
		margin-bottom: 5px;
	}
	100% {
		border-bottom: 5px solid var(--highlight-color);
		margin-bottom: 0px;
	}
}

.navbar-button {
	background-color: transparent;
	user-select: none;
	border: none;
    border-radius: 0px;

	margin-bottom: 5px;
	padding: 5px;

    text-decoration: none;

	font-size: var(--font-size-medium);

	color: var(--text-color-unimportant);
}

.navbar-button:hover, .navbar-button.selected {
	border-bottom: 5px solid var(--highlight-color);
	margin-bottom: 0px;
	cursor: pointer;

	color: var(--text-color-important);
    background-color: var(--secondary-color);
    border-radius: var(--rounding-small);

	animation-name: button-select;
	animation-duration: 0.1s;
}


#navbar > p {
    display: inline-block;

    font-size: var(--font-size-small);
}

/* Search bar */

textarea {
    resize: none;
    border: none;
    outline: none;

    font-family: monospace;
    font-size: var(--font-size-medium);

    border-radius: var(--rounding);

    background-color: var(--secondary-color);
    color: var(--text-color-important);
}

/* Content */

#content {
    margin: 120px 12%;
    margin-right: 25%;
}

#content > p {
    font-family: monospace;
    color: var(--text-color-semi-important);
}

#content > h1, h2, h3 {
    display: inline-block;

    color: var(--text-color-important);

    font-family: Arial, Helvetica, sans-serif;
}

#content > hr {
    margin-top: 0px;
    margin-bottom: 50px;
}

.date {
    display: inline-block;
    padding: 2px 5px;

    background-color: var(--secondary-color);
    border-radius: var(--rounding-small);

    color: var(--text-color-unimportant);

    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size-small);
}

/* Devlog Buttons */

@keyframes devlog-button-select {
	0% {
		border-bottom: 0px solid var(--highlight-color);
		margin-bottom: 15px;
	}
	100% {
		border-bottom: 10px solid var(--highlight-color);
		margin-bottom: 5px;
	}
}

.devlog-button {
    user-select: none;

    background-color: var(--bg-color);

    border-radius: var(--rounding);
    border-bottom: 0px solid transparent;
    
    padding: 12px;
    margin-bottom: 15px
}


.devlog-button:hover {
	cursor: pointer;

	color: var(--text-color-important);
    background-color: var(--secondary-color);

    border-radius: var(--rounding-small);
    border-bottom: 10px solid var(--highlight-color);

    margin-bottom: 5px;

	animation-name: devlog-button-select;
	animation-duration: 0.1s;
}

.devlog-button > div {
    display: inline-block;
    max-width: 75%;
}

.devlog-button > img {
    display: inline-block;
    width: 20%;
}


.devlog-name {
    color: var(--text-color-important);

    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size-big);
}

/* Mobile Support */
@media only screen and (max-width: 1080px) {
    .socials {
        display: none;
    }
    #content > p {
        font-size: var(--font-size-big);
    }
    #navbar {
        text-align: center;
    }
    .main-title {
        display: block;
    }
    #navbar > p {
        display: none;
    }
    #navbar > hr {
        border: 3px solid var(--secondary-color);
    }
    .navbar-button {
        font-size: 50px;
    }
    .devlog-button {
        font-size: var(--font-size-big);
    }
    #footer-parent > p {
        display: none;
    }
}

@media only screen and (max-width: 2000px) {
    #skipper {
        display: none;
    }
}